body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/img/Formulario-background.jpeg');
  background-size: cover;
}

form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center; 
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.nav-inicio {
  background-color: gray;
  position: fixed;
  top: 0;
  border: solid 1px black;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: baseline;
  align-items: center; 
  justify-content: baseline;
}
.nav-inicio a{
  margin-left: 8px;
}
