body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

header {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 15px 0;
}

main {
    text-align: center;
    margin: 50px;
}

.map-container {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; 
}
